librosa==0.11.0
matplotlib==3.10.8
numpy==2.3.5
ollama==0.6.1
python-dotenv==1.2.1
rich==14.2.0
soundfile==0.13.1
torch==2.9.1
transformers==4.57.3
accelerate==1.2.1
webrtcvad==2.0.10
whisper==1.1.10
